# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# clinet
# -------

/client/src/api/fakeApi/sensordata.json
# dependencies
/client/node_modules
/client/.pnp
.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# server
# ------
/server/node_modules

# other
# -----
/dummy_data_generator/.ipynb_checkpoints
/dummy_data_generator/sensordata_1w.json
/dummy_data_generator/sensordata.json
